body {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.title {
  text-align: center;
  color: #5c6ac4;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #5c6ac4;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #5c6ac4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4a59b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: #ff4d4d;
  font-weight: 600;
  margin-top: 5px;
}

.popup {
  position: fixed;
  top: 300px; /* Adjust this value to position the popup at the desired height from the top */
  left: 50%;
  height: 100px;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.closeBtn {
  position: absolute;
  top: 55px;
  right: 125px;
  cursor: pointer;
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  font-size: 16px; /* Adjust the font size as needed */
  padding: 5px; /* Adjust the padding around the button */
}